<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{url_for('static', filename ='css/styles.css')}}" rel ="stylesheet"/>
{% block title-%}
{% if title -%}
    <title>название приложения - {{title}}</title>
{% else -%}
    <title> alt название приложения</title>
{% endif -%}
    {% endblock -%}
</head>
<body>
{% block content -%}
    {% block mainmenu -%}
    <ul class=" mainmenu">
        {% for m in menu -%}
            <li><a href="{{m.ur}}">{{m.title}}</a></li>
            {% endfor -%}
    </ul>
    {% endblock mainmenu -%}
{% endblock -%}

</body>

</html>